<?xml version="1.0"?>
<!-- KUKA LBR iiwa14 with the project-standard Robotiq 2F-85. -->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="iiwa14_labutopia_robotiq_2f_85">
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa14.xacro"/>
  <xacro:include filename="$(find robotiq_description)/xacro/2F85.xacro"/>

  <link name="world"/>
  <xacro:iiwa14 hardware_interface="PositionJointInterface" robot_name="iiwa" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:iiwa14>
  <xacro:Robotiq85 name=""/>

  <joint name="iiwa_tool_to_gripper_base" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="iiwa_link_ee"/>
    <child link="gripper_base"/>
  </joint>

  <link name="grasp_frame"/>
  <joint name="gripper_base_to_grasp_frame" type="fixed">
    <origin xyz="0 0 0.13" rpy="0 0 0"/>
    <parent link="gripper_base"/>
    <child link="grasp_frame"/>
  </joint>
</robot>
