<?xml version='1.0' encoding='utf-8'?>
<robot name="fanuc_lrmate200id_labutopia_robotiq_2f_85">
  <link name="base_link">
    </link>
  <link name="link_1">
    </link>
  <link name="link_2">
    </link>
  <link name="link_3">
    </link>
  <link name="link_4">
    </link>
  <link name="link_5">
    </link>
  <link name="link_6">
    </link>
  <joint name="joint_1" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.330" />
    <parent link="base_link" />
    <child link="link_1" />
    <axis xyz="0 0 1" />
    <limit effort="0" lower="-2.9670597283903604" upper="2.9670597283903604" velocity="7.853981633974483" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin rpy="0 0 0" xyz="0.050 0 0" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 1 0" />
    <limit effort="0" lower="-1.7453292519943295" upper="2.530727415391778" velocity="6.632251157578453" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.330" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-1.2217304763960306" upper="3.5779249665883754" velocity="9.075712110370514" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin rpy="0 0 0" xyz="0 0 0.035" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-3.3161255787892263" upper="3.3161255787892263" velocity="9.599310885968812" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin rpy="0 0 0" xyz="0.335 0 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 -1 0" />
    <limit effort="0" lower="-2.181661564992912" upper="2.181661564992912" velocity="9.512044423369096" />
  </joint>
  <joint name="joint_6" type="revolute">
    <origin rpy="0 0 0" xyz="0.080 0 0" />
    <parent link="link_5" />
    <child link="link_6" />
    <axis xyz="-1 0 0" />
    <limit effort="0" lower="-6.283185307179586" upper="6.283185307179586" velocity="17.453292519943297" />
  </joint>
  <link name="base" />
  <joint name="base_link-base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.330" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  <link name="flange" />
  <joint name="link_6-flange" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="link_6" />
    <child link="flange" />
  </joint>
  <link name="tool0" />
  <joint name="flange-tool0" type="fixed">
    <origin rpy="3.141592653589793 -1.5707963267948966 0" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
  <link name="gripper_base">
    <inertial>
      <origin xyz="8.625E-08 -4.6583E-06 0.03145" />
      <mass value="0.22652" />
      <inertia ixx="0.00020005" ixy="-4.2442E-10" ixz="-2.9069E-10" iyy="0.00017832" iyz="-3.4402E-08" izz="0.00013478" />
    </inertial>
  </link>
  <link name="left_outer_knuckle">
    <inertial>
      <origin xyz="-0.000200000000003065 0.0199435877845359 0.0292245259211331" />
      <mass value="0.00853198276973456" />
      <inertia ixx="2.89328108496468E-06" ixy="-1.57935047237397E-19" ixz="-1.93980378593255E-19" iyy="1.86719750325683E-06" iyz="-1.21858577871576E-06" izz="1.21905238907251E-06" />
    </inertial>
  </link>
  <link name="left_outer_finger">
    <inertial>
      <origin xyz="0.00030115855001899 0.0373907951953854 -0.0208027427000385" />
      <mass value="0.022614240507152" />
      <inertia ixx="1.52518312458174E-05" ixy="9.76583423954399E-10" ixz="-5.43838577022588E-10" iyy="6.17694243867776E-06" iyz="6.78636130740228E-06" izz="1.16494917907219E-05" />
    </inertial>
  </link>
  <link name="left_inner_finger">
    <inertial>
      <origin xyz="0.000299999999999317 0.0160078233491243 -0.0136945669206257" />
      <mass value="0.0104003125914103" />
      <inertia ixx="2.71909453810972E-06" ixy="1.35402465472579E-21" ixz="-7.1817349065269E-22" iyy="7.69100314106116E-07" iyz="6.74715432769696E-07" izz="2.30315190420171E-06" />
    </inertial>
  </link>
  <link name="left_inner_finger_pad">
    </link>
  <link name="left_inner_knuckle">
    <inertial>
      <origin xyz="0.000123011831763771 0.0507850843201817 0.00103968640075166" />
      <mass value="0.0271177346495152" />
      <inertia ixx="2.61910379223783E-05" ixy="-2.43616858946494E-07" ixz="-6.37789906117123E-09" iyy="2.8270243746167E-06" iyz="-5.37200748039765E-07" izz="2.83695868220296E-05" />
    </inertial>
  </link>
  <link name="right_outer_knuckle">
    <inertial>
      <origin xyz="-0.000200000000003065 0.0199435877845359 0.0292245259211331" />
      <mass value="0.00853198276973456" />
      <inertia ixx="2.89328108496468E-06" ixy="-1.57935047237397E-19" ixz="-1.93980378593255E-19" iyy="1.86719750325683E-06" iyz="-1.21858577871576E-06" izz="1.21905238907251E-06" />
    </inertial>
  </link>
  <link name="right_outer_finger">
    <inertial>
      <origin xyz="0.00030115855001899 0.0373907951953854 -0.0208027427000385" />
      <mass value="0.022614240507152" />
      <inertia ixx="1.52518312458174E-05" ixy="9.76583423954399E-10" ixz="-5.43838577022588E-10" iyy="6.17694243867776E-06" iyz="6.78636130740228E-06" izz="1.16494917907219E-05" />
    </inertial>
  </link>
  <link name="right_inner_finger">
    <inertial>
      <origin xyz="0.000299999999999317 0.0160078233491243 -0.0136945669206257" />
      <mass value="0.0104003125914103" />
      <inertia ixx="2.71909453810972E-06" ixy="1.35402465472579E-21" ixz="-7.1817349065269E-22" iyy="7.69100314106116E-07" iyz="6.74715432769696E-07" izz="2.30315190420171E-06" />
    </inertial>
  </link>
  <link name="right_inner_finger_pad">
    </link>
  <link name="right_inner_knuckle">
    <inertial>
      <origin xyz="0.000123011831763771 0.0507850843201817 0.00103968640075166" />
      <mass value="0.0271177346495152" />
      <inertia ixx="2.61910379223783E-05" ixy="-2.43616858946494E-07" ixz="-6.37789906117123E-09" iyy="2.8270243746167E-06" iyz="-5.37200748039765E-07" izz="2.83695868220296E-05" />
    </inertial>
  </link>
  <joint name="gripper_joint" type="revolute">
    <origin rpy="0 0 3.14159265359" xyz="0 -0.0306011 0.054904" />
    <parent link="gripper_base" />
    <child link="left_outer_knuckle" />
    <axis xyz="1 0 0" />
    <limit effort="1000" lower="0" upper="0.81" velocity="2.0" />
  </joint>
  <joint name="left_outer_finger_joint" type="fixed">
    <origin xyz="0 0.0315 -0.0041" />
    <parent link="left_outer_knuckle" />
    <child link="left_outer_finger" />
    <axis xyz="1 0 0" />
  </joint>
  <joint name="left_inner_knuckle_joint" type="revolute">
    <origin rpy="0 0 3.14159265359" xyz="0 -0.0127 0.06142" />
    <parent link="gripper_base" />
    <child link="left_inner_knuckle" />
    <axis xyz="1 0 0" />
    <limit effort="1000" lower="0" upper="0.8757" velocity="2.0" />
    <mimic joint="gripper_joint" multiplier="1" offset="0" />
  </joint>
  <joint name="left_inner_finger_joint" type="revolute">
    <origin xyz="0 0.0061 0.0471" />
    <parent link="left_outer_finger" />
    <child link="left_inner_finger" />
    <axis xyz="1 0 0" />
    <limit effort="1000" lower="-0.8757" upper="0" velocity="2.0" />
    <mimic joint="gripper_joint" multiplier="-1" offset="0" />
  </joint>
  <joint name="left_inner_finger_pad_joint" type="fixed">
    <origin xyz="0 -0.0220203446692936 0.03242" />
    <parent link="left_inner_finger" />
    <child link="left_inner_finger_pad" />
    <axis xyz="0 0 1" />
  </joint>
  <joint name="right_outer_knuckle_joint" type="revolute">
    <origin xyz="0 0.0306011 0.054904" />
    <parent link="gripper_base" />
    <child link="right_outer_knuckle" />
    <axis xyz="1 0 0" />
    <limit effort="1000" lower="0" upper="0.81" velocity="2.0" />
    <mimic joint="gripper_joint" multiplier="1" offset="0" />
  </joint>
  <joint name="right_outer_finger_joint" type="fixed">
    <origin xyz="0 0.0315 -0.0041" />
    <parent link="right_outer_knuckle" />
    <child link="right_outer_finger" />
  </joint>
  <joint name="right_inner_knuckle_joint" type="revolute">
    <origin rpy="0 0 0.0" xyz="0 0.0127 0.06142" />
    <parent link="gripper_base" />
    <child link="right_inner_knuckle" />
    <axis xyz="1 0 0" />
    <limit effort="1000" lower="0" upper="0.8757" velocity="2.0" />
    <mimic joint="gripper_joint" multiplier="1" offset="0" />
  </joint>
  <joint name="right_inner_finger_joint" type="revolute">
    <origin xyz="0 0.0061 0.0471" />
    <parent link="right_outer_finger" />
    <child link="right_inner_finger" />
    <axis xyz="1 0 0" />
    <limit effort="1000" lower="-0.8757" upper="0" velocity="2.0" />
    <mimic joint="gripper_joint" multiplier="-1" offset="0" />
  </joint>
  <joint name="right_inner_finger_pad_joint" type="fixed">
    <origin xyz="0 -0.0220203446692936 0.03242" />
    <parent link="right_inner_finger" />
    <child link="right_inner_finger_pad" />
  </joint>
  <link name="eef" />
  <joint name="eef_joint" type="fixed">
    <parent link="gripper_base" />
    <child link="eef" />
    <origin xyz="0 0 0.15" />
  </joint>
  <joint name="fanuc_tool0_to_gripper_base" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="tool0" />
    <child link="gripper_base" />
  </joint>
  <link name="grasp_frame" />
  <joint name="gripper_base_to_grasp_frame" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.13" />
    <parent link="gripper_base" />
    <child link="grasp_frame" />
  </joint>
</robot>